* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Courier New", Courier, monospace;
  }
  .me {
      font-size: 25px;
  }
  .woman {
      position: absolute;
      left: 100px;
  }